/* HEADER CONTAINER */
.header {
    background-image: url(./img/page_one_bckg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1012px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.navbar {
    padding-left: 15%;
    padding-right: 10%;
    display: flex;
    background-color: rgba(94, 93, 88, 0.6);
}

.nav-buttons {
    display: flex;
    list-style: none;
    margin-top: 53px;
}

.logo-img {
    padding-right: 300px;
    cursor: pointer;
}

.nav-button {
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
    color: #bbbbbb;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 5px;
}

.nav-button:hover {
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
}

.header-first-line {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8px;
    text-transform: uppercase;
    margin-top: 264px;
}

.header-first-line-colored {
    color: #18CFAB;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 1px;
    text-transform: uppercase;
}

.header-second-line {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2px;
    text-transform: uppercase;
    margin-top: 75px;
}

.header-third-line {
    color: #D4D4D4;
    text-align: center;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.9px;
    margin-top: 102px;
}

.explore-button {
    width: 169px;
    height: 63px;
    margin-right: 26px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    background-color: #18CFAB;
    border: 0;
    border-top: 4px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.purchase-button {
    width: 169px;
    height: 63px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    background-color: #00CBF6;
    border: 0;
    border-top: 4px solid white;
    border-radius: 5px;
    cursor: pointer;
    
}

.header-buttons {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
/* MAIN */
/* FOUR OPTIONS CONTAINERS */
.four-options-container {
    display: flex;
    margin-top: 5px;
    justify-content: center;
}

.four-options-container-one, .four-options-container-three {
    width: 482px;
    height: 377px;
    background-color: #1C2A33;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.four-options-container-two, .four-options-container-four {
    width: 482px;
    height: 377px;
    background-color: #18CFAB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.four-options-container-one-green {
    color: #18CFAB;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 60px;
}

.four-options-container-one-white {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 60px;
}

/* OUR SERVICES CONTAINER */

.our-services-container{
    margin-top: 83px;
 
}
.our-services-header{
    color: #4E4E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.style-line{
    display: flex;
    margin-left: 48%;
    margin-top: 24px;
}

.centered-content {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    margin-top: 69px;
}

.tabs-title {
    width: 192px;
    height: 73px;
    background-color: #f8fcfe;
    color: #717171 ;
    cursor: pointer;
    border: 1px solid #edefef ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.tabs-title:hover {
    border: 1px solid #18cfab;
}

.tabs-title.active {
    background-color:#18cfab;
    color: white;
}
.tab-contnet {
    margin-left: 370px;
    padding-right: 368px;
    margin-top: 27px;
    display: none; 
}

#services-text{
    color: #777;
    font-family: Montserrat;
    font-size: 13.645px;
    font-style: normal;
    font-weight: 300;
    line-height: 24.366px; 
    margin-left: 15px;
}
.tab-content-container {
    display: flex;
    align-items: center;
}
/* EVERYTHING IS READY CONTAINER */
.everything-is-ready-container {
    background-image: url(./img/everything_bckg_img.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 476px;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 91px;
}
.everything-title{
    color: #18CFAB;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    text-transform: uppercase;
    padding-top: 127px;
}
.everything-subtitle{
    color: #D8D8D8;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin-top: 24px;
}
.everything-button{
    width: 169px;
    height: 63px;
    margin-right: 26px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    background-color: #18CFAB;
    border: 0;
    border-top: 4px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 75px;
}
/* OUR AMAZING WORK */
.amazing-work-container{
    background-color: #E9EDEF;
    width: 100%;
    height: auto;
}
.amazing-work-title{
    color: #4E4E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding-top: 95px;
}
.amazing-work-tabs {
    display: flex;
    margin-top: 69px;
    justify-content: center;
}
.amazing-work-tabs-title{
    width: 192px;
    height: 73px;
    background-color: #E9EDEF;
    color: #717171 ;
    cursor: pointer;
    border: 1px solid #edefef ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    border: 1px solid #DADADA;
   
}
.amazing-work-tabs-title:hover{
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.amazing-work-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.amazing-work-images {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    margin-top: 30px;
    justify-content: center;
}
.creative-design-hover{
    width: 285px;
    height: 211px;
    border-top: 2px solid #18cfab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creative-design-title{
    color: #18CFAB;
    font-family: Montserrat;
    font-size: 14.177px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    padding-top: 30px;

}
.web-design-subtitle{
    color: #8A8A8A;
    font-family: Montserrat;
    font-size: 12.152px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px;
    padding-top: 13px;
}
.load-more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18CFAB;
    width: 168px;
    height: 63px;
    border: 1px solid #18CFAB;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
}
.load-more-text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; 
    text-transform: uppercase;
    margin-left: 15px;
}
.btn-flex{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
/* BREAKING NEWS CONTAINER  */
.breaking-news-title{
    color: #4E4E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-top: 82px; 
}
.breaking-news-image-grid {
    display: grid;
    grid-template-columns: repeat(4, 263px);
    gap: 117px; 
    justify-content: center;
    padding-top: 83px;
    margin-bottom: 200px;
  }

  .breaking-news-image-one {
    background-image: url(./img/Breaking_News/amazing_blog_post_1.png);
    background-repeat: no-repeat;
    width: 263px;
    height: 208px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .breaking-news-image-two {
    background-image: url(./img/Breaking_News/amazing_blog_post_2.png);
    background-repeat: no-repeat;
    width: 263px;
    height: 208px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .breaking-news-image-three {
    background-image: url(./img/Breaking_News/amazing_blog_post_3.png);
    background-repeat: no-repeat;
    width: 263px;
    height: 208px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
  .breaking-news-image-four {
    background-image: url(./img/Breaking_News/amazing_blog_post_4.png);
    background-repeat: no-repeat;
    width: 263px;
    height: 208px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .breaking-news-image-five {
    background-image: url(./img/Breaking_News/amazing_blog_post_5.png);
    background-repeat: no-repeat;
    width: 263px;
    height: 208px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .breaking-news-image-six {
    background-image: url(./img/Breaking_News/amazing_blog_post_6.png);
    background-repeat: no-repeat;
    width: 263px;
    height: 208px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .breaking-news-image-seven {
    background-image: url(./img/Breaking_News/amazing_blog_post_7.png);
    background-repeat: no-repeat;
    width: 263px;
    height: 208px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .breaking-news-image-eight {
    background-image: url(./img/Breaking_News/amazing_blog_post_8.png);
    background-repeat: no-repeat;
    width: 263px;
    height: 208px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  
  .breaking-news-date-container{
    width: 70px;
    height: 68px;
    background-color: #203E38;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 73.5%;
    text-decoration: none;
  }
  .breaking-news-date-text{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .breakingnews-title {
    color: #717171;
    text-align: center;
    font-family: Montserrat;
    font-size: 17.988px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; 
    margin-top: 120px;
  }
  .breakingnews-subtitle{
    color: #777;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    margin-top: -20px;
  }

  .breaking-news-image-one:hover .breaking-news-date-container,
  .breaking-news-image-two:hover .breaking-news-date-container,
  .breaking-news-image-three:hover .breaking-news-date-container,
  .breaking-news-image-four:hover .breaking-news-date-container,
  .breaking-news-image-five:hover .breaking-news-date-container,
  .breaking-news-image-six:hover .breaking-news-date-container,
  .breaking-news-image-seven:hover .breaking-news-date-container,
  .breaking-news-image-eight:hover .breaking-news-date-container {
    background-color: #18CFAB;
}

.breaking-news-image-one:hover .breakingnews-title,
.breaking-news-image-two:hover .breakingnews-title,
.breaking-news-image-three:hover .breakingnews-title,
.breaking-news-image-four:hover .breakingnews-title,
.breaking-news-image-five:hover .breakingnews-title,
.breaking-news-image-six:hover .breakingnews-title,
.breaking-news-image-seven:hover .breakingnews-title,
.breaking-news-image-eight:hover .breakingnews-title{
    color: #18CFAB;
}
/* WHAT PEOPLE SAY ABOUT HAM */
.what-people-say-container{
    background-image: url(./img/what_people_say_bckg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 853px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.what-people-say-title{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding-top: 98px;
}
.column-style{
    justify-content: center;
    display: flex;
    margin-left: 49%;
    margin-top: 70px;
}
.what-people-say-text-flex-box{
    display: flex;
    justify-content: center;

}
.what-people-say-text{
    color: #BBB;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    width: 1150px;
    margin-top: 38px;
}
.profile-name{
    color: #18CFAB;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 40px;
}
.profile-job{
    color: #BBB;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    margin-top: 10px;
}
.profile-large{
    background-image: url(./img/What_People_Say/profile_bckg.png);
    background-repeat: no-repeat;
    width: 171px;
    height: 166px;
    margin-top: 30px;
 }
 .profile-img-one-large{
    width: 143px;
    height: 142px;
    border-radius: 90px;
    margin-left: 11px;
    margin-top: 11px;
 }
.profile-img-one, .profile-img-two, .profile-img-three, .profile-img-four{
    width: 72px;
    height: 72px;
    border-radius: 90px;
    margin-left: 7.5px;
    margin-top: 5.5px;
}
.what-people-say-profiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.switcher-container{
    display: flex;
}

.left-arrow-img{
    margin-right: -70px;
    height: 40px;
    margin-top: 30px; 
}
.right-arrow-img{
    margin-left: -70px;
    height: 40px;
    margin-top: 30px;
}
.right-arrow-img{
transform: scaleX(-1);
}
.left-arrow-img:hover, .right-arrow-img:hover{
   background-color: #18CFAB;
   cursor: pointer;
}
.profile-small{
    background-image: url(./img/What_People_Say/profile_bckg.png);
    background-repeat: no-repeat;
    width: 171px;
    height: 166px;
    margin-top: 10px;
    background-size: 50% 50%;
    margin-left: -60px;
}
.profile-small:nth-child(2){
    margin-left: 90px;
}
.profile-small {
    background-image: url(./img/What_People_Say/profile_bckg.png);
    background-repeat: no-repeat;
    width: 171px;
    height: 166px;
    margin-top: 10px;
    background-size: 50% 50%;
    margin-left: -60px;
    transition: margin-top 0.3s ease; /* Added transition property */
}
/* GALLERY OF BEST IMAGES CONTAINER */
.gallery-title{
    color: #4E4E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-top: 108px;
}
.grid-columns {
    display: flex;
    justify-content: center;
    margin-top: 83px;
}
.grid-column-one{
    display: grid;
    grid-template-columns: 378px;
    grid-template-rows: repeat(2, 263px) 290px;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    }
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }

.grid-column-two {
    display: grid;
    grid-template-columns: 378px;
    grid-template-rows: 380px 247px 254px;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    margin-left: 20px;
    }
    
    .div4 { grid-area: 1 / 1 / 2 / 2; }
    .div5 { grid-area: 2 / 1 / 3 / 2; }
    .div6 { grid-area: 3 / 1 / 4 / 2; }



.grid-column-three-top{
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: 169px repeat(3, 92px);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    margin-left: 20px;

}
.div7 { grid-area: 1 / 1 / 2 / 4; }
.div8 { grid-area: 1 / 4 / 2 / 7; }
.div9 { grid-area: 2 / 1 / 3 / 3; }
.div10 { grid-area: 2 / 3 / 3 / 5; }
.div11 { grid-area: 2 / 5 / 3 / 7; }
.div12 { grid-area: 3 / 1 / 4 / 3; }
.div13 { grid-area: 3 / 3 / 4 / 5; }
.div14 { grid-area: 3 / 5 / 4 / 7; }
.div15 { grid-area: 4 / 1 / 5 / 3; }
.div16 { grid-area: 4 / 3 / 5 / 5; }
.div17 { grid-area: 4 / 5 / 5 / 7; }
.div-18{
    margin-top: 20px;
    margin-left: 20px;
}
/* FOOTER */
.footer{
    width: 100%;
    height: 121px;
    background-color:#22353F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-title{
    color: #AEAEAE;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
.footer-color{
    color: #18CFAB;
}
